<h1>Let’s post with today’s topic!</h1>

<%= turbo_frame_tag "theme_section" do %>

<% if @theme.present? %>
	<div class="theme-box">
		<h2>お題：<%= @theme.title %></h2>
		<%= link_to "search another theme", root_path, class: "btn-change-theme" %>
	</div>
<% else %>
	<p>No topics available to display.</p>
<% end %>

<% end %>